---
const { className = '' } = Astro.props;
const footerClassName = ['site-footer', className].filter(Boolean).join(' ');
---

<footer class={footerClassName}>
  <span>&copy; 2026 Travis Hinton</span>
</footer>
